importFrom(vegan,
  decostand,
  vegdist
)

importFrom(sp,
  spsample
)


importFrom(reshape2,
  dcast
)

importFrom(Hmisc, 
  hdquantile,
	wtd.mean, 
  wtd.var, 
  wtd.quantile, 
  wtd.rank, 
  wtd.table,
  binconf				 
)
	
importFrom(scales, 
  alpha
)

importFrom(circular, 
  circular,
  mean.circular,
  rho.circular,
  plot.circular,
  density.circular,
  axis.circular,
  arrows.circular
)

importFrom(RColorBrewer, 
  brewer.pal
)

importFrom(plyr, 
  dlply,
  ddply,
  summarise
)

exportPattern("^[^\\.]")
