# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  workflow_dispatch:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: macOS-latest, r: 'release'}
          - {os: ubuntu-latest, r: 'release'}
          - {os: ubuntu-latest, r: 'devel', http-user-agent: 'release'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@3

      - uses: r-lib/actions/setup-r@v2
        with:
          extra-repositories: 'https://ncss-tech.r-universe.dev/'
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}

      - name: Install hydromad
        run: |
          install.packages('hydromad', repos = c("http://hydromad.catchment.org", getOption("repos")))
        shell: Rscript {0}
        
      - uses: r-lib/actions/setup-pandoc@v2

      - name: Install system dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install gdal
          
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, any::aqp, any::soilDB, hydromad=?ignore, Hmisc=?ignore-before-r=4.1.0, vegan=?ignore-before-r=4.1.0, circlize=?ignore-before-r=4.0.0, testthat=?ignore-before-r=4.0.0, igraph=?ignore-before-r=4.0.0, elevatr=?ignore-before-r=4.0.0, daymetr=?ignore-before-r=4.0.0, dendextend=?ignore-before-r=4.0.0      
          cache: always
          cache-version: 1
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
